<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Database=MDProject;Server=Server10;User ID=sa;Password=;Pooling=true;Max Pool Size=32767;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString_Log" connectionString="Database=MDLog;Server=Server10;User ID=sa;Password=;Pooling=true;Max Pool Size=32767;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString_Application" connectionString="Database=MDApplication;Server=Server10;User ID=sa;Password=;Pooling=true;Max Pool Size=32767;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionString_Admin" connectionString="Database=MD_Admin;Server=Server10;User ID=sa;Password=;Pooling=true;Max Pool Size=32767;Min Pool Size=0;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="WS_Pwd" value="7d5709d1-14f1-4297-b1ee-d03e5deb77f2"/>
    <add key="Public" value="E9B93222-518D-452D-9043-6C6B112538B6"/>
    <add key="Updater" value="http://mdserver:801|http://mdserver:801"/>
    <add key="AttUrl" value="http://mdserver:802"/>
    <add key="AttPath" value="\\mdserver\WebRoot\Document\attachments"/>
    <add key="Passport" value="http://server5/md.passport.web/"/>
    <add key="PackFile" value="tempfiles/packfile"/>
    <add key="testMapSubDomain" value="localhost|server5"/>
    <add key="testSubDomain" value="meihua"/>
    <add key="testSubDomainOpen" value="F"/>
    <add key="testLocal" value="T"/>
    <add key="MD.Cache.Servers" value="172.16.22.159:11211"/>
    <add key="MD.MQ.Servers" value="http://172.16.23.103:808"/>
    <add key="MD.MQ.IPServers" value="http://172.16.23.103:808"/>
    <add key="ApiRequestLog" value="1"/>
    <add key="MDAppIDs" value="ffd3a3bd-bcdc-49be-9129-61e6d506a534|5e71fcfa-6ca7-48ef-9a3c-74094a513174|c24fdcc7-adcd-4c43-84ab-1f5249fbdb19|51e6b0d4-c990-4096-b20c-55d4a1db84d7|aa434120-75c6-4818-bfe5-5c6a650b291c"/>
    <add key="MD.Solr.Servers" value="Servers"/>
    <add key="WcUrl" value="http://172.16.23.103:9999/"/>
    <add key="ACCESS_KEY" value="QCLMePM7TGMVvirxL32Y9696IlLrdz4OsGRlRoWB"/>
    <add key="SECRET_KEY" value="EM9AV922Sb4--IkkzYfhIQjzcZlPo2dEIAELq-LH"/>
    <add key="UP_HOST" value="https://up.qbox.me/"/>
    <add key="qiniuBucket" value="mdmedia"/>
    <!--<add key="AdminWS.MDAppBilling_WebService" value="http://manage.mingdao.com/Service/MDAppBilling_WebService.asmx"/>-->
    <add key="AdminWS.MDAppBilling_WebService" value="http://mdserver/MD.Reseller.Web/Service/MDAppBilling_WebService.asmx"/>
    <add key="AdminWS.MDOrder_WebService" value="http://mdserver/MD.Reseller.Web/Service/MDOrder_WebService.asmx"/>
  </appSettings>
  
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
			<add path="*" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" />
		</httpHandlers>
    </system.web>

<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
		</handlers>
	</system.webServer>


</configuration>
